html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lilita One', cursive;
    min-height: 100vh;
    background-image: url('/images/tagataust.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    flex-grow: 1;
    padding: 20px; /* Padding for container */
}

.media-container, .text-content {
    margin-bottom: 20px;
    padding: 15px; /* Padding for media and text content */
    border-radius: 5px; /* Optional: for a rounded corner effect */
}

.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 0px;
}

footer a {
    color: #FF5733;
    text-decoration: none;
}

footer a:hover {
    color: #FFC300;
    text-decoration: underline;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Maintain aspect ratio */
    max-width: auto; /* Adjust maximum width as needed */
}

.image-item p {
    margin-top: 8px;
    font-size: 0.9em;
}
