<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kontakt - Paul Keres</title>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Kontakt</h1>
        <div class="text-content">
            <p>Kui soovite rohkem teavet või tahate meiega ühendust võtta, palun kasutage allolevaid andmeid:</p>
            <ul>
                <li>E-post: paul.keres@mail.ee</li>
                <li>Telefon: +372 5686 2001</li>
                <li>Aadress: Maleva 5, 10117 Tallinn, Eesti</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>
                <a href="/">Avaleht</a> | 
                <a href="/about">Paul Kerese kohta</a>
            </p>
        </footer>
    </div> 
</body> 
</html>
